atom/atom.symlink/.apm
atom/atom.symlink/.node-gyp
atom/atom.symlink/blob-store
atom/atom.symlink/compile-cache
atom/atom.symlink/packages
atom/atom.symlink/recovery
atom/atom.symlink/split-diff
atom/atom.symlink/storage
atom/atom.symlink/.gitignore
atom/atom.symlink/init.coffee
atom/atom.symlink/keymap.cson
atom/atom.symlink/snippets.cson
atom/atom.symlink/styles.less

nvim/nvim.symlink/autoload
nvim/nvim.symlink/bundle
