"*":
  "atom-beautify":
    general:
      _analyticsUserId: "a9876252-da08-4005-9ab4-18114c60271b"
  core:
    projectHome: "/Users/kylekthompson/src/kylekthompson"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "gruvbox-plus-syntax"
    ]
  editor:
    fontFamily: "Operator Mono"
    invisibles: {}
    preferredLineLength: 100
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "f4eb2b8c-4039-d590-b7c5-d5a78d643a77"
  minimap:
    plugins:
      "split-diff": true
      "split-diffDecorationsZIndex": 0
  welcome:
    showOnStartup: false
